.pvtUi {
    color: #333
}

table.pvtTable {
    font-size: 1.2rem;
    text-align: left;
    border-collapse: collapse
}

table.pvtTable tbody tr th,table.pvtTable thead tr th {
    background-color: #E7E9ED;
    border: 2px solid #fff;
    font-size: 1.2rem;
    padding: 3px
}

table.pvtTable .pvtColLabel {
    text-align: center
}

table.pvtTable .pvtTotalLabel {
    text-align: right
}

table.pvtTable tbody tr td {
    color: #3D3D3D;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #E7E9ED;
    vertical-align: top;
    text-align: right
}

.pvtGrandTotal,.pvtTotal {
    font-weight: 700
}

.pvtVals {
    border:0px solid white;
    text-align: left;
    white-space: nowrap
}

.pvtColOrder,.pvtRowOrder {
    cursor: pointer;
    width: 15px;
    margin-left: 5px;
    display: inline-block
}

.pvtAggregator {
    margin-bottom: 5px
}

.pvtAxisContainer,.pvtVals {
    border: 0px solid #727E96;
    border-top:2px solid #f2f2f2;
    background: #fff;
    padding: 3px;
    min-width: 10px;
    min-height: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}

.pvtAxisContainer li {
    padding: 4px 2px;
    list-style-type: none;
    cursor: move
}

.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #aaa
}

.pvtAxisContainer li span.pvtAttr {
    -webkit-text-size-adjust: 100%;
    background: #727E96;
    border: 0px solid #fff;
    padding: 2px 5px;
    color:white;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.pvtTriangle {
    cursor: pointer;
    color: white;
}

.pvtHorizList li {
    display: inline
}

.pvtVertList {
    vertical-align: top
}

.pvtFilteredAttribute {
    font-style: italic
}

.pvtFilterBox {
    z-index: 100;
    width: 200px;
    max-height:250px;
    border-radius:10px;
    overflow: scroll;
    border: 1px solid #ddd;
    background-color: #fff;
    position: absolute;
    text-align: center
}

.pvtFilterBox h4 {
    margin: 10px
}

.pvtFilterBox p {
    margin: 10px auto
}

.pvtFilterBox label {
    font-weight: 400;
    margin: 0px!important;
}

.pvtFilterBox input[type=checkbox] {
    margin-right: 10px;
    margin-left: 10px
}

.pvtFilterBox input[type=text] {
    width: 90%;
    margin: 5px;
}

.pvtFilterBox .count {
    color: #999;
    font-weight: 400;
    margin-left: 3px
}

.pvtCheckContainer {
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow-y: scroll;
    width: 90%;
       height:100px;
    margin: 0 auto;
    max-height: 200px;
    border-top: 0px solid #d3d3d3;
    border-bottom: 0px solid #d3d3d3;
    background: #f0f1f4;

}

.pvtCheckContainer p {
    margin: 5px
}

.pvtRendererArea {
    padding: 0px;
}

button{background:#f2f2f2;
margin:2px;
border-radius:5px;
border:0px solid white;}
